{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <!-- HEADER ---------------------------->
    <header class="bg-primary text-white p-4">
        <div class="row">
            <!-- Left Section (Image) -->
            <div class="col-lg-2">
                <img src="https://i.gifer.com/7VE.gif" alt="Image" class="img-fluid" style="width: 50%; height: auto;">
            </div>

            <!-- Right Section (Title and Description) -->
            <div class="col-lg-10">
                <h3>Blog</h3>
                <p>This is a short description about the topics.</p>
            </div>
        </div>
    </header>
</div>


    <div class="container">
        
        <h4>Data Science</h4>
<!--
        <div class="blog-post">
            <div class="row">

                    <div class="col-lg-8">    
                        <h5>Course Recommender</h5>
                        <div class="project-dates text-muted">
                            <small>Start: Jan 2024 | End: Dec 2024</small>
                        </div>

                        <div class="project-description mt-3" >
                                    As a machine learning engineer at AI Training Room, I am contributing to the development of a recommender system 
                                    designed to enhance the learning experience for our global audience. Currently in the Proof of Concept (PoC) phase, 
                                    we are evaluating various machine learning models to determine the best solution for personalized course recommendations. <br>
                                    <img src="./data/github2.png" alt="repository" style="width: 25px; height: auto;"> <a href="https://github.com/angelTCC/CourseRecommender">repository</a>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <img src="./data/imagen.png" alt="repository" style="width: 200px;height: auto;"> 
                    </div>
            </div>
        </div>-->

        <h4>Machine Learning</h4>

        <h4>Physics</h4>

        <h4>Energy</h4>
 

        <h4>Agriculture</h4>

    </div>
{% endblock %}