{% extends 'base.html' %}

{% block content %}
    <div class="container"> <!--PROJECTS---------------------------->
        <h2>Project</h2>

        <div class="row"> <!--Reommender-->
            <div class="project">
                <div class="row">
                    <div class="col-lg-8 col-md-12 col-sm-12">
                        <div class="row">
                            <div class="row">
                                <div class="row align-items-start">
                                    <div class="col">
                                        <h5>Course Recommender</h5>
                                        <div class="project-dates text-muted">
                                            <small>Start: Jan 2024 | End: Dec 2024</small>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <div class="status-box bg-success text-white rounded p-2 text-center">
                                            <strong>In Progress</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="project-description mt-3" >
                                    As a machine learning engineer at AI Training Room, I am contributing to the development of a recommender system 
                                    designed to enhance the learning experience for our global audience. Currently in the Proof of Concept (PoC) phase, 
                                    we are evaluating various machine learning models to determine the best solution for personalized course recommendations. 
                                    By utilizing Streamlit for our application, we aim to help learners easily discover relevant courses and improve their 
                                    learning paths, thereby increasing user engagement and supporting our rapid growth in the online education market.<br>
                                    <a href="https://github.com/angelTCC/CourseRecommender">repository</a>
                                </div>
                            </div>
                        </div>                    
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">               
                        <div class="row">
                            <img src="https://i.gisfer.com/7VE.gif" alt="Computer man" style="width: 100%; height: 60px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="project">
                    <div class="row">
                    
                        <div class="row align-items-start">
                            <div class="col">
                                <h5>Course Recommender</h5>
                                <div class="project-dates text-muted">
                                    <small>Start: Jan 2024 | End: Dec 2024</small>
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="status-box bg-success text-white rounded p-2 text-center">
                                    <strong>In Progress</strong>
                                </div>
                            </div>
                        </div>

                        <div class="project-description mt-3" >
                                    As a machine learning engineer at AI Training Room, I am contributing to the development of a recommender system 
                                    designed to enhance the learning experience for our global audience. Currently in the Proof of Concept (PoC) phase, 
                                    we are evaluating various machine learning models to determine the best solution for personalized course recommendations. 
                                    By utilizing Streamlit for our application, we aim to help learners easily discover relevant courses and improve their 
                                    learning paths, thereby increasing user engagement and supporting our rapid growth in the online education market.<br>
                                    <a href="https://github.com/angelTCC/CourseRecommender">repository</a>
                        </div>
                    </div>

                    <div class="row">
                        <img src="https://i.gisfer.com/7VE.gif" alt="Computer man" style="width: 100%; height: 360px;">
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="project">
                    <div class="row">
                        
                        <div class="row align-items-start">
                            <div class="col">
                                <h5>Tracking Vehiculos</h5>
                                <div class="project-dates text-muted">
                                    <small>Start: Jan 2024 | End: Dec 2024</small>
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="status-box bg-success text-white rounded p-2 text-center">
                                    <strong>In Progress</strong>
                                </div>
                            </div>
                        </div>

                        <div class="project-description mt-3">
                            This project leverages a fine-tuned YOLO model for vehicle detection and tracking, enabling 
                            automated counting of various vehicle types as they cross a designated line using a single camera or 
                            video feed. By replacing manual tracking methods with advanced computer vision techniques, the system 
                            provides accurate real-time data on traffic flow, which can be used to inform transportation control 
                            decisions. This automation enhances efficiency, improves data accuracy, and supports smarter transportation management.<br>
                            <a href="https://github.com/angelTCC/VehicleTracking">repository</a>
                        </div>
                    </div>

                    <div class="row">
                        <img src="https://i.gifer.cosm/7VE.gif" alt="Computer man" style="width: 100%; height: 360px;">
                    </div>

                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="project">
                    <div class="row">

                        <div class="row align-items-start">
                            <div class="col">
                                <h5>The Little Lemon website</h5>
                                <div class="project-dates text-muted">
                                    <small>Start: Jan 2024 | End: Dec 2024</small>
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="status-box bg-success text-white rounded p-2 text-center">
                                    <strong>In Progress</strong>
                                </div>
                            </div>
                        </div>
                        
                        <div class="project-description mt-3">
                            This project combines a web application and a RESTful API for Little Lemon, 
                            a local bistro, using the Django framework. The web app features five key 
                            pages—Home, About, Booking, Menu, and Menu Item—focused on enhancing customer 
                            engagement and showcasing the restaurant's offerings. Alongside, the API enables
                            developers to manage menu items, place and track orders, and assign delivery 
                            personnel, all with different authorization levels for various user roles. 
                            Together, these components improve Little Lemon's digital presence and 
                            streamline operations for a seamless customer experience.<br>
                            <a href="https://github.com/angelTCC/VehicleTracking">repository</a>
                        </div>

                    </div>

                    <div class="row">                               
                        <img src="https://i.gifer.cosm/7VE.gif" alt="Computer man" style="width: 100%; height: 360px;">
                    </div>

                </div>
            </div>

            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="project">
                    
                    <div class="row align-items-start">
                        <div class="col">
                            <h5>Streamlit Energy applications</h5>
                            <div class="project-dates text-muted">
                                <small>Start: Jan 2024 | End: Dec 2024</small>
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="status-box bg-success text-white rounded p-2 text-center">
                                <strong>In Progress</strong>
                            </div>
                        </div>
                    </div>
                    
                    <div class="project-description mt-3">
                        Faster and practical solution using ml in Energy sector.<br>
                        <a href="https://github.com/angelTCC/StreamlitEnergyApplications">repository app</a>
                    </div>
                
                    <div class="row">                               
                        <img src="https://i.gifer.cosm/7VE.gif" alt="Computer man" style="width: 100%; height: 360px;">
                    </div>

                </div>
            </div>

        </div>

        <div class="row">
            <div class="project">
                <div class="row">
                    <div class="row align-items-start">
                        <div class="col">
                            <h5>Streamlit Agriculture applications</h5>
                            <div class="project-dates text-muted">
                                <small>Start: Jan 2024 | End: Dec 2024</small>
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="status-box bg-success text-white rounded p-2 text-center">
                                <strong>In Progress</strong>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-md-12 col-sm-12">
                        <div class="row">
                            
                            
                            <div class="project-description mt-3">
                                Faster and practical solution using ml in Energy sector.<br>
                                <a href="https://github.com/angelTCC/StreamlitAgricultureApplications">repository app</a>
                            </div>
                        </div>                    
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">               
                        <div class="row">                               
                            <img src="https://i.gifer.cosm/7VE.gif" alt="Computer man" style="width: 100%; height: 100px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <!---

    <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="project">
                    <div class="row">
                        <div class="col-md-6">

                        </div>
                        <div class="col-md-6">
                            <img src="https://i.gifer.com/7VE.gif" alt="Computer man" style="width: 70%; height: auto;">
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-3 col-sm-12">
                <h6>OptiGreen WebPage</h6>
                <p>This is my personal project about services techonologies in Energy and Agrticuiltuire</p>
                <img src="https://i.gifer.com/7VE.gif" alt="Computer man" style="width: 180px;height:180px;">
            </div>

        </div>

        <div class="row">

            <div class="col-md-3 col-sm-12">
                <h6>Customer Service aPllication in Flutter</h6>
                <p>Project group</p>
                <img src="https://i.gifer.com/7VE.gif" alt="Computer man" style="width: 180px;height:180px;">
            </div>

        </div>
    -->

    </div>

{% endblock %}